* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* ---------- Typography ---------- */

@font-face{
font-family:'Museo Sans';
src:url(fonts/museosans.otf);
}

@font-face{
font-family:'Tablet Gothic';
src:url(fonts/tabletgothicreg.ttf);
}

h1, h2, h3, h4, p {
  padding: 5px;
}

body {
  font-family: "Museo Sans", Arial, Helvetica, sans-serif;
  line-height: 1.em;
}

h1, h2, h3 {
  font-family: "Tablet Gothic", Arial, Helvetica, sans-serif;

}
/* ---------- Header ---------- */

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

:root {
  --side-width: 280px;
}

.header-left {
  width: var(--side-width);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  width: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left img {
  height: 120px;
  width: auto;
  display: block;
}

.header-right img {
  height: 120px;
  width: auto;
  display: block;
}

.header-mid {
  flex: 1;
  background-color: #EF3E42;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.header-mid p {
  color: white;
  font-size: 3em;
  padding: 10px;
  margin: 0;
}

/* ---------- Page Layout ---------- */

.page {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 220px); /* accounts for header height */
}

/* ---------- Navbar ---------- */

.navbar {
  width: var(--side-width);
  padding: 20px;
  flex-shrink: 0;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  list-style-type: none;
}

.nav li a,
a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.nav li a:hover {
  background-color: #BD2A2A;
  color: white;
}

/* ---------- Page Layout ---------- */
.social h2 {
  float: left;
}
.social {
  float: left;
}

/* ---------- Main Content ---------- */

.main {
  flex: 1;
  padding: 20px;
}

/* ---------- Project Components ---------- */

.projcomp {
  background-color: #EF3E42;
  width: 24%;
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.projcomp a{
  color: white;
}

.projcomp:hover {
  background-color: white;
  border: 2px solid #EF3E42;
}

.projcomp a:hover {
  color: #EF3E42;
}
/* ---------- Misc / Lists ---------- */

.carclu li {
  list-style-type: none;
}

.carclu p,
.carclu li,
.classes {
  padding-left: 2em;
  margin: 0;
}

.site-footer {
  width: 100%;
  background-color: #ef3e42;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

/* ---------- Membership List ---------- */

.officerlist {
  list-style-type: none;
}

.officerlist li {
  padding-left: 2em;
  margin: 0;
  font-weight: normal;
  text-shadow:
    0.04em 0 currentColor;
}

.officerlist li p {
  padding-left: 2em;
  margin: 0;
  text-shadow: none;
}

p a {
  display: inline;
  padding: 0;
}

/* ---------- Support ---------- */

.supportimg {
  height: 3em;
  float: left;
}

.support {
  background-color: #EF3E42;
  width: auto;
  padding: 5px;
  margin: 5px;
  text-align: center;
  height: 5.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.support a{
  color: white;
}

.support p {
  font-size: 1.5em;
}
